<!DOCTYPE html>
<html>
  <head>
    <title>Twidown</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag     'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag  'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag     'application' %>
    <%= stylesheet_pack_tag     'application' %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <div id="container" class="container-fluid">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
